---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Variables to modify font folders
$icon-font-path:      "../fonts/bootstrap";
$fa-font-path:        "../fonts/font-awesome";

// Import partials from `sass_dir` (defaults to `_sass`)
@import "bootstrap-sass/bootstrap";
@import "font-awesome/font-awesome";
/*
.navbar {
	-webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
	-moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
	transition: background .5s ease-in-out,padding .5s ease-in-out;
}
.navbar-custom {
	font-family:Montserrat;
	font-size:14px;
	border-radius:0;
	margin-bottom:0;
	padding:50px 0;
	color: red;
}
.navbar-custom .navbar-nav > li > a:hover {
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.navbar-custom .navbar-toggle {background:#fff;}
.top-nav-collapse {padding: 20px 0;}
*/
footer {
	background-color: rgba(51,122,183,0.5);
	
}


/* BRAINIFY CSS *//*1. SECTION INTRO2. SECTION FEATURES3. SECTION OVERVIEW4. SECTION INFO5. TESTIMONIALS6. SECTION SCREENSHOTS7. SECTION TEAM8. CLIENTS9. FOOTER10. MISCA. NavigationB. ButtonsC. Form ElementsD. Social ButtonsE. TwitterF. PreloadG. Others*/
/* 1. INTRO */.intro { display: table; width: 100%; height: auto; padding: 100px 0; -webkit-background-size: cover; -moz-background-size: cover; background-size: cover; -o-background-size: cover;}.intro-body { display: table-cell; vertical-align: middle;padding-top:100px;}.brand-heading { font-size: 40px;}.intro-text { font-size: 18px;}@media(min-width:767px) { .intro { height: 100%; padding: 0; } .brand-heading { font-size: 75px; } .intro-text { font-size: 27px; }}
/* 2. FEATURES */#features {padding-bottom:50px;}#features h3 {margin-top:0;}#features i {float:left;padding:0 10px 50px 0;color:#d5d5d5;}#features i:hover {-webkit-transition: all 0.3s;-moz-transition: all 0.3s;transition: all 0.3s;}#features .feature {float:none;display:inline-table;}
/* 3. OVERVIEW */#overview {padding-bottom:0;}#overview .text {margin:35px 0 0 0;}
/* 4. INFO */#info {padding-bottom:50px;}#info ul li i {margin:0 10px 0 0;vertical-align:middle;}#info i {margin:0 10px 0 0;vertical-align:middle;}
/* 5. TESTIMONIAL */#testimonial {margin:30px 0;}#testimonial p {font-size: 21px;letter-spacing: 1px;}
/* 6. SCREENSHOTS */#screenshot-carousel .item {margin:5px;}
/* 7. TEAM */#team {margin-bottom:10px;}#team h2 {margin:0 0 20px 0; }#team h3 {margin:15px 0 0 0; }#team img {float:left;margin:0 10px 50px 0;}#team .team {float:none;display:inline-table;}
/* 8. CLIENTS */#clients {margin:50px 0;vertical-align:middle;}#clients img {padding-top:20%;}
/* 9. FOOTER */footer {padding:50px 0;}footer a {text-decoration:none;}footer a:hover {text-decoration:none;}footer hr {margin-top: 65px;margin-bottom: 15px;}
/* 10. MISC. A. NAVIGATION */.navbar {-webkit-transition: background .5s ease-in-out,padding .5s ease-in-out; -moz-transition: background .5s ease-in-out,padding .5s ease-in-out; transition: background .5s ease-in-out,padding .5s ease-in-out;}.navbar-custom {font-family:Montserrat;font-size:14px;border-radius:0;margin-bottom:0;padding:50px 0;}.navbar-custom .navbar-nav > li > a:hover {-webkit-transition: all 0.3s;-moz-transition: all 0.3s;transition: all 0.3s;}.navbar-custom .navbar-toggle {background:#fff;}.top-nav-collapse {padding: 20px 0;}
/* B. BUTTONS */.button {border: none;font-size: 11px;color: inherit;background: none;cursor: pointer;padding: 5px 15px;display: inline-block;margin: 15px 0;text-transform: uppercase;letter-spacing: 2px;font-weight: 700;outline: none;position: relative;-webkit-transition: all 0.3s;-moz-transition: all 0.3s;transition: all 0.3s;}.button:after {content: '';position: absolute;z-index: -1;-webkit-transition: all 0.3s;-moz-transition: all 0.3s;transition: all 0.3s;}.button-big {padding:15px 30px;font-size:16px;border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px;}
/* C. FORM ELEMENTS */input {padding: 15px;border: 1px solid #fff;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;margin-right: 10px;outline:none;}
/* D. SOCIAL BUTTONS */.social a:hover {-webkit-transition: all 0.3s;-moz-transition: all 0.3s;transition: all 0.3s;}
/* E. TWITTER */.twitter {margin:40px 0;width: 100%;overflow: hidden;z-index: 0;height:auto;}.twitter img {margin:0 0 50px 0 ;}.twitter .tweetList {list-style:none;padding:0;}.twitter .tweetList a {text-decoration:none;font-weight:600;}.twitter i {float:left;margin:0px 10px;}.twitter i:hover {-webkit-transition: all 0.3s;-moz-transition: all 0.3s;transition: all 0.3s;}
/* F. PRELOAD */.preload {position:absolute;width:100%;height:100%;z-index:9999;}.spinner { margin: auto 0;position: absolute;top:50%;left:45%;z-index: 1050;}.spinner > div { width: 18px; height: 18px; border-radius: 100%; display: inline-block; -webkit-animation: bouncedelay 1.4s infinite ease-in-out; animation: bouncedelay 1.4s infinite ease-in-out; /* Prevent first frame from flickering when animation starts */ -webkit-animation-fill-mode: both; animation-fill-mode: both;}.spinner .bounce1 { -webkit-animation-delay: -0.32s; animation-delay: -0.32s;}.spinner .bounce2 { -webkit-animation-delay: -0.16s; animation-delay: -0.16s;}@-webkit-keyframes bouncedelay { 0%, 80%, 100% { -webkit-transform: scale(0.0) } 40% { -webkit-transform: scale(1.0) }}@keyframes bouncedelay { 0%, 80%, 100% { transform: scale(0.0); -webkit-transform: scale(0.0); } 40% { transform: scale(1.0); -webkit-transform: scale(1.0); }}/* G. OTHERS */.uppercase {text-transform:uppercase;}section {padding:100px 0;}.parallax {width: 100%;overflow: hidden;z-index: 0;height:auto;min-height:300px;}.parallax h2 {padding:15px 0;}.parallax i {display: inline-block;-webkit-transition-duration: .5s;transition-duration: .5s;-webkit-transition-property: -webkit-transform;transition-property: transform;-webkit-transform: translateZ(0);-ms-transform: translateZ(0);transform: translateZ(0);}.parallax i:hover {-webkit-transform: translateY(-6px);-ms-transform: translateY(-6px);transform: translateY(-6px);-webkit-animation-name: hover;animation-name: hover;-webkit-animation-duration: 1.5s;animation-duration: 1.5s;-webkit-animation-delay: 0.3s;animation-delay: 0.3s;-webkit-animation-timing-function: linear;animation-timing-function: linear;-webkit-animation-iteration-count: infinite;animation-iteration-count: infinite;-webkit-animation-direction: alternate;animation-direction: alternate;}.full-page {width:100%;}



/* BLUE.CSS *//* INTRO */.intro {
	color: #ffffff;
	background: url(../../img/bg-blue.jpg) no-repeat top center scroll;
	background-color: #68bcde;
}
.brand-heading {
	color:#ffffff;
}
.intro-text {
	color:#68bcde;
}
/* FEATURES */#features i {
	color:#d5d5d5;
}
#features i:hover {
	color:#68bcde;
}
/* INFO */#info ul li i {
	color:#68bcde;
}
/* SCREENSHOTS */#screenshot-carousel i {
	color: #68bcde;
}
#screenshot-carousel a:hover {
	color:red;
}
/* TEAM */#team {
	background:#f2f2f2;
}
/* FOOTER */footer {
	color:#ffffff;
	background:#68bcde;
}
footer a {
	color:#ffffff;
}
footer a:hover {
	color:#3991b5;
}
/* MISC. NAVIGATION */.navbar-custom {
	color:#ffffff;
}
.navbar-custom a {
	color:#ffffff;
}
.navbar-custom .navbar-nav > li > a:hover {
	color:#3991b5;
}
.navbar-custom .navbar-toggle {
	background:#fff;
}
.navbar-custom .navbar-toggle .icon-bar {
	background:#68bcde;
}
.top-nav-collapse {
	background-color: #68bcde;
}
/* BUTTON */.button-border-light {
	border: 1px solid #ffffff;
	color: #ffffff;
}
.button-border-light:hover,.button-border-light:active {
	color: #68bcde;
	background: #ffffff;
	text-decoration:none;
}
.button-border-dark {
	border: 1px solid #68bcde;
	color: #68bcde;
}
.button-border-dark:hover,.button-border-dark:active {
	color: #ffffff;
	background: #68bcde;
	text-decoration:none;
}
/* FORM ELEMENTS */input {
	color:#666666;
	background: rgba(255,255,255, .7);
}
/* SOCIAL BUTTONS */.social a {
	color:rgba(255,255,255, 1);
}
.social a:hover {
	color:#3991b5;
}
.social .fa-inverse {
	color: #68bcde;
}
/* TWITTER */.twitter {
	color:#666666;
}
.twitter .tweetList a {
	color:#68bcde;
}
.twitter i {
	color:#666;
}
.twitter i:hover {
	color:#68bcde;
}
/* OTHERS */.parallax {
	color:#ffffff;
	background-color:#68bcde;
	background:url(../../img/bg-blue.jpg) 50% 0 no-repeat fixed;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	background-size:cover;
}
.parallax h2 {
	color:#ffffff;
}
.hr {
	border-top:1px solid #68bcde;
}
/* PRELOAD */.preload {
	background:#68bcde;
}
.spinner > div {
	background-color:#ffffff;
}



