<!-- CLIENTS -->
<div id="clients">
    <div align="center">
        <center>
            <table border="0" cellpadding="0" cellspacing="0" width="100">
                <tr>
                    <td><img class="img-responsive img-rounded" src="img/clients/son.png" alt="SaludOnNet"></td>
                    <td><img class="img-responsive img-rounded" src="img/clients/deipe.png" alt="Deipe"></td>
                    <td><img class="img-responsive img-rounded" src="img/clients/ayto_ace.gif" alt="Ayuntamiento de Arrecife"></td>
                    <td><img src="img/clients/cabildo_lzt.png" alt="Cabildo de Lanzarote"></td>
                    <td><img src="img/clients/lanis.png" alt="Lani's Suites DeLuxe"></td>
                </tr>
                <tr>
                    <td><img src="img/clients/galaco.png" alt="Galaco"></td>
                    <td><img src="img/clients/ereza.png" alt="Ereza"></td>
                    <td><img src="img/clients/mrubicon.png" alt="Marina Rubicon"></td>
                    <td><img src="img/clients/hfataga.png" alt="THe Hotel Fataga"></td>
                    <td><img src="img/clients/lcrcom.png" alt="LCRCom"></td>
                </tr>
                <tr>
                    <td><img src="img/clients/celp.png" alt="Colegio de Enfermería Las Palmas"></td>
                    <td><img src="img/clients/daos.png" alt="Colegio Europeo Daos"></td>
                    <td><img src="img/clients/queens.png" alt="Queen's School"></td>
                    <td><img src="img/clients/cgadvisers.gif" alt="CG Advisers"></td>
                    <td><img src="img/clients/coac-lz.png" alt="Colegio Arquitectos de Lanzarote"></td>
                </tr>
                <tr>
                    <td><img src="img/clients/global_cultura.jpeg" alt="Global Cultura"></td>
                    <td><img src="img/clients/horinsa.png" alt="Horinsa"></td>
                    <td><img src="img/clients/gestiones.png" alt="Gestiones Administrativas Canarias"></td>
                    <td><img src="img/clients/microsistemas.jpeg" alt="MicroSistemas"></td>
                    <td><img src="img/clients/opticaperezduran.png" alt="Optica Pérez Durán"></td>
                </tr>
                <tr>
                    <td><img src="img/clients/nbotella.png" alt="Notaria Pedro Botella Torres"></td>
                    <td><img src="img/clients/ncarmen.png" alt="Notaria Carmen Socias Martinez"></td>
                    <td><img src="img/clients/" alt="Notaria Javier Pérez Polo"></td>
                    <td><img src="img/clients/" alt="Saneamientos Noroeste"></td>
                    <td><img src="img/clients/" alt="Artek"></td>
                </tr>
            </table>
        </center>
    </div> 
</div> 