

<!-- SECTION MORE INFO -->
<section id="info" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">

            <div class="col-lg-10 col-lg-offset-1">
                <div class="row">

                    <div class="col-lg-5 col-md-5 text-center wow fadeInLeft">
                        <img src="img/iphone34.png">
                    </div>

                    <div class="col-lg-7 col-md-7 wow fadeInRight">
                        <h2>Morbi eu tortor et dui aliquet egestas</h2>
                        <p class="lead">Proin faucibus, nulla quis cursus sollicitudin, leo magna feugiat ante, at cursus purus libero at augue. Donec at facilisis purus, 
                        non pellentesque dolor. Sed lacus odio, tincidunt vel.</p>

                        <ul class="list-unstyled">
                            <li><p><i class="fa fa-3x fa-arrow-circle-o-right"></i> Aenean ac pellentesque nisi.</p></li>
                            <li><p><i class="fa fa-3x fa-arrow-circle-o-right"></i> Mauris sed magna pretium, aliquet ante at, placerat magna.</p></li>
                            <li><p><i class="fa fa-3x fa-arrow-circle-o-right"></i> Vivamus id pharetra est. Curabitur felis metus.</p>
                                <li><p><i class="fa fa-3x fa-arrow-circle-o-right"></i> Cum sociis natoque penatibus et magnis.</p> 
                                <li><p><i class="fa fa-3x fa-arrow-circle-o-right"></i> Donec consectetur orci sit amet vehicula hendrerit.</p>
                                <li><p><i class="fa fa-3x fa-arrow-circle-o-right"></i> Mauris gravida nulla ut feugiat sodales.</p>
                            </ul> <a class="button button-big button-border-dark" href="index-blue.html#"><i class="fa fa-2x fa-apple"></i> Available on Appstore</a> </div> </div> </div> </div> </div> 
</section>