<!-- SECTION INTRO -->
<section id="intro" class="intro full-page" data-stellar-background-ratio="0.5">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 wow fadeInLeff">
                    <h1 class="brand-heading">CanaryTek</h1>
                    <p class="intro-text">Dedicada a la consultoría en el terreno de la informática y las telecomunicaciones.</p>
                    <p class="lead">Diseño y desarrollo de soluciones de tecnologías de la información y comunicaciones TIC, una empresa con experiencia 
                    significativa dentro del mundo de las aplicaciones libres en el ámbito empresarial e institucional en todo el territorio nacional.</p>
                </div>
                <div class="col-lg-6 col-md-6 wow fadeInRight">
                    <img class="img-responsive" src="img/timthumb.php.png">
                </div>
            </div>
        </div>
    </div>
</section> 

