<!-- SECTION FEATURES -->
<section id="services" class="">
    <div class="container">
        <div class="row">

            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="feature wow fadeInUp" data-wow-delay="0.2">
                    <i class="fa fa-5x fa-lock"></i>
                    <h3>Seguridad</h3>
                    <p>La solución para gestión de la seguridad informática que CanaryTek pone a su disposición, ofrece una protección completa con información precisa sobre usuarios, datos y servicios.</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="feature wow fadeInUp" data-wow-delay="0.4s">
                    <i class="fa fa-5x fa-comments-o"></i>
                    <h3>Consultoría Tecnológica</h3>
                    <p>Con el servicio de consultoría tecnológica CanaryTek se enfoca en aconsejar a sus clientes cómo usar las tecnologías de la información para conseguir sus objetivos empresariales.</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="feature wow fadeInUp" data-wow-delay="0.6s">
                    <i class="fa fa-5x fa-phone"></i>
                    <h3>Telefonía VoIP</h3>
                    <p>La solución de telefonía de CanaryTek está basada en Asterisk, una plataforma de comunicaciones de gran calidad, seguridad y versatilidad que le permite crear y desplegar un amplio abanico de aplicaciones y servicios de telefonía de una manera sencilla.</p>
                </div>
            </div>

             <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="feature wow fadeInUp" data-wow-delay="0.8s">
                    <i class="fa fa-5x fa-wifi"></i>
                    <h3>WiFi</h3>
                    <p>Le permitirá controlar su red WiFi en todo momento. Entre otras cosas podrá saber el ancho de banda consumido, qué equipos están conectados, obtener un aviso si algún nodo está fuera de servicio… y mucho más.</p>
                </div>
            </div>

        </div>
    </div>
</section>

<!-- SECTION OVERVIEW -->
<section id="outsourcing">
<div class="parallax" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="text col-lg-6 col-md-6 wow fadeInLeftBig">

                        <h2>Outsourcing</h2>
                        <p>Con el servicio de outsourcing podrá externalizar la gestión de:
                        <p>&#9679; Redes de comunicación de voz y datos</p>
                        <p>&#9679; Sistemas informáticos: servidores, clusters, alta disponibilidad, virtualización, bases de datos, sistemas de almacenamiento y copias de seguridad</p>
                        <p>&#9679; Sistemas de telefonía</p>
                        <p>&#9679; Seguridad de los sistemas de información y comunicaciones: cortafuegos, detección de intrusiones, VPN</p>
                        <p>&#9679; Desarrollo y mantenimiento de aplicaciones informáticas</p>
                        <p>&#9679; Hosting de entornos de desarrollo y producción</p>
                    </div>

                    <div class="col-lg-6 col-md-6 text-center wow fadeInRightBig">
                        <img class="img-responsive" src="img/outsourcing.jpeg" alt="Outsourcing">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- TEAM -->
<section id="team">
    <div class="parallax" class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="text-center wow fadeInDown">Conoce a nuestro equipo</h2>
                <div class="row">

                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="team wow fadeInLeft">
                            <img class="img-circle" src="img/team1.jpg" alt="">
                            <h3>Miguel Angel Armas "Chafalmejilla"</h3>
                            <p>CEO / Marinero agua dulce</p>
                            <p class="small">Un crack, esnifa coca para mantenerse alerta en cualquier incidencia. No sabe lo que es descansar ni el escaqueo. 
                            Si le pone un barco cerca, amarrelo a la silla, es su debilidad y lo perderiamos durante unas horas.</p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="team wow fadeInUp">
                            <img class="img-circle" src="img/team2.jpg" alt="">
                            <h3>Alberto Bailón</h3>
                            <p>Administrador de Sistemas</p>
                            <p class="small">Un vividor, no sabe lo que es abandonar seres necesitados. Si es de fuera hayá que irá, si le prepara una caminata lo tendrá comiendo de la mano y no se irá sin solucionar cualquier problema en su sistema.
                            </p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-12 wow fadeInRight">
                        <div class="team wow fadeInRight">
                            <img class="img-circle" src="img/team3.jpg" alt=""></i>
                            <h3>Jafet Rodríguez</h3>
                            <p>Administardor de Sistemas</p>
                            <p class="small">Un superdotado en su campo, con una gran devoción por su sistema operativo favorito OpenSUSE. Si le dices que hay que armar la silla de Carlos Sainz lo hará sin pestañear.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- SECTION CLIENTS -->
<section id="clients">
    <div class="container">
        <div class="row">
            <h2 class="col-lg-12 text-center"></h2>
            <div id="screenshot-carousel" class="col-lg-12"> 
                <tr>
                    <td><div class="wow_imgage end wow fadeInLeft" data-wow-delay="0.1s" style="visibility: visible; -webkit-animation-delay: 0.1s; -moz-animation-delay: 0.1s; animation-delay: 0.1s;"><img src="img/clients/son.png" alt="SaludOnNet"></img></div></td>
                    <td><div class="wow_imgage end wow fadeInLeft" data-wow-delay="0.2s" style="visibility: visible; -webkit-animation-delay: 0.2s; -moz-animation-delay: 0.2s; animation-delay: 0.2s;"><img src="img/clients/deipe.png" alt="Deipe"></img></div></td>
                    <td><div class="wow_imgage end wow fadeInLeft" data-wow-delay="0.3s" style="visibility: visible; -webkit-animation-delay: 0.3s; -moz-animation-delay: 0.3s; animation-delay: 0.3s;"><img src="img/clients/ayto_ace.gif" alt="Ayuntamiento de Arrecife"></img></div></td>
                    <td><div class="wow_imgage end wow fadeInLeft" data-wow-delay="0.4s" style="visibility: visible; -webkit-animation-delay: 0.4s; -moz-animation-delay: 0.4s; animation-delay: 0.4s;"><img src="img/clients/cabildo_lzt.png" alt="Cabildo de Lanzarote"></img></div></td>
                    <td><div class="wow_imgage end wow fadeInLeft" data-wow-delay="0.3s" style="visibility: visible; -webkit-animation-delay: 0.3s; -moz-animation-delay: 0.3s; animation-delay: 0.3s;"><img src="img/clients/lanis.png" alt="Lani's Suites DeLuxe"></img></div></td>
                    <td><div class="wow_imgage end wow fadeInLeft" data-wow-delay="0.3s" style="visibility: visible; -webkit-animation-delay: 0.3s; -moz-animation-delay: 0.3s; animation-delay: 0.3s;"><img src="img/clients/galaco.png" alt="Galaco"></img></div></td>
                    <td><div class="wow_imgage end wow fadeInLeft" data-wow-delay="0.3s" style="visibility: visible; -webkit-animation-delay: 0.3s; -moz-animation-delay: 0.3s; animation-delay: 0.3s;"><img src="img/clients/ereza.png" alt="Ereza"></img></div></td>
                    <td><div class="wow_imgage end wow fadeInLeft" data-wow-delay="0.3s" style="visibility: visible; -webkit-animation-delay: 0.3s; -moz-animation-delay: 0.3s; animation-delay: 0.3s;"><img src="img/clients/mrubicon.png" alt="Marina Rubicon"></img></div></td>
                    <td><div class="wow_imgage end wow fadeInLeft" data-wow-delay="0.3s" style="visibility: visible; -webkit-animation-delay: 0.3s; -moz-animation-delay: 0.3s; animation-delay: 0.3s;"><img src="img/clients/hfataga.png" alt="THe Hotel Fataga"></img></div></td>
                    <td><div class="wow_imgage end wow fadeInLeft" data-wow-delay="0.3s" style="visibility: visible; -webkit-animation-delay: 0.3s; -moz-animation-delay: 0.3s; animation-delay: 0.3s;"><img src="img/clients/lcrcom.png" alt="LCRCom"></img></div></td>
                    <td><div class="wow_imgage end wow fadeInLeft" data-wow-delay="0.3s" style="visibility: visible; -webkit-animation-delay: 0.3s; -moz-animation-delay: 0.3s; animation-delay: 0.3s;"><img src="img/clients/celp.png" alt="Colegio de Enfermería Las Palmas"></img></div></td>
                    <td><div class="wow_imgage end wow fadeInLeft" data-wow-delay="0.3s" style="visibility: visible; -webkit-animation-delay: 0.3s; -moz-animation-delay: 0.3s; animation-delay: 0.3s;"><img src="img/clients/daos.png" alt="Colegio Europeo Daos"></img></div></td>
                    <td><div class="wow_imgage end wow fadeInLeft" data-wow-delay="0.3s" style="visibility: visible; -webkit-animation-delay: 0.3s; -moz-animation-delay: 0.3s; animation-delay: 0.3s;"><img src="img/clients/queens.png" alt="Queen's School"></img></div></td>
                    <td><div class="wow_imgage end wow fadeInLeft" data-wow-delay="0.3s" style="visibility: visible; -webkit-animation-delay: 0.3s; -moz-animation-delay: 0.3s; animation-delay: 0.3s;"><img src="img/clients/cgadvisers.gif" alt="CG Advisers"></img></div></td>
                    <td><div class="wow_imgage end wow fadeInLeft" data-wow-delay="0.3s" style="visibility: visible; -webkit-animation-delay: 0.3s; -moz-animation-delay: 0.3s; animation-delay: 0.3s;"><img src="img/clients/coac-lz.png" alt="Colegio Arquitectos de Lanzarote"></img></div></td>
                    <td><div class="wow_imgage end wow fadeInLeft" data-wow-delay="0.3s" style="visibility: visible; -webkit-animation-delay: 0.3s; -moz-animation-delay: 0.3s; animation-delay: 0.3s;"><img src="img/clients/global_cultura.jpeg" alt="Global Cultura"></img></div></td>
                    <td><div class="wow_imgage end wow fadeInLeft" data-wow-delay="0.3s" style="visibility: visible; -webkit-animation-delay: 0.3s; -moz-animation-delay: 0.3s; animation-delay: 0.3s;"><img src="img/clients/horinsa.png" alt="Horinsa"></img></div></td>
                    <td><div class="wow_imgage end wow fadeInLeft" data-wow-delay="0.3s" style="visibility: visible; -webkit-animation-delay: 0.3s; -moz-animation-delay: 0.3s; animation-delay: 0.3s;"><img src="img/clients/gestiones.png" alt="Gestiones Administrativas Canarias"></img></div></td>
                    <td><div class="wow_imgage end wow fadeInLeft" data-wow-delay="0.3s" style="visibility: visible; -webkit-animation-delay: 0.3s; -moz-animation-delay: 0.3s; animation-delay: 0.3s;"><img src="img/clients/microsistemas.jpeg" alt="MicroSistemas"></img></div></td>
                    <td><div class="wow_imgage end wow fadeInLeft" data-wow-delay="0.3s" style="visibility: visible; -webkit-animation-delay: 0.3s; -moz-animation-delay: 0.3s; animation-delay: 0.3s;"><img src="img/clients/opticaperezduran.png" alt="Optica Pérez Durán"></img></div></td>
                    <td><div class="wow_imgage end wow fadeInLeft" data-wow-delay="0.3s" style="visibility: visible; -webkit-animation-delay: 0.3s; -moz-animation-delay: 0.3s; animation-delay: 0.3s;"><img src="img/clients/nbotella.png" alt="Notaria Pedro Botella Torres"></img></div></td>
                    <td><div class="wow_imgage end wow fadeInLeft" data-wow-delay="0.3s" style="visibility: visible; -webkit-animation-delay: 0.3s; -moz-animation-delay: 0.3s; animation-delay: 0.3s;"><img src="img/clients/ncarmen.png" alt="Notaria Carmen Socias Martinez"></img></div></td>
                    <td><div class="wow_imgage end wow fadeInLeft" data-wow-delay="0.3s" style="visibility: visible; -webkit-animation-delay: 0.3s; -moz-animation-delay: 0.3s; animation-delay: 0.3s;"><img src="img/clients/artek.png" alt="Artek"></img></div></td>
                </tr>
            </div>
        </div>
    </div>
</section>

<!-- SECTION MANUFACTURERS -->
<section id="Manufacturers">
    <div class="container">
        <div class="row">
            <h2 class="col-lg-12 text-center"></h2>
            <div id="screenshot-carousel" class="col-lg-12"> 
                <tr>
                    <td><div class="wow_imgage end wow fadeInRight" data-wow-delay="0.1s" style="visibility: visible; -webkit-animation-delay: 0.1s; -moz-animation-delay: 0.1s; animation-delay: 0.1s;"><img src="/img/marcas/dell_partner_direct.jpeg" alt="Dell"></img></div></td>
                    <td><div class="wow_imgage end wow fadeInRight" data-wow-delay="0.2s" style="visibility: visible; -webkit-animation-delay: 0.2s; -moz-animation-delay: 0.2s; animation-delay: 0.2s;"><img src="/img/marcas/suse.png" alt="Suse"></img></div></td>
                    <td><div class="wow_imgage end wow fadeInRight" data-wow-delay="0.3s" style="visibility: visible; -webkit-animation-delay: 0.3s; -moz-animation-delay: 0.3s; animation-delay: 0.3s;"><img src="/img/marcas/vmware.png" alt="VMWare"></img></div></td>
                    <td><div class="wow_imgage end wow fadeInRight" data-wow-delay="0.4s" style="visibility: visible; -webkit-animation-delay: 0.4s; -moz-animation-delay: 0.4s; animation-delay: 0.4s;"><img src="/img/marcas/fujitsu.png" alt="Fujitsu"></img></div></td>
                    <td><div class="wow_imgage end wow fadeInRight" data-wow-delay="0.3s" style="visibility: visible; -webkit-animation-delay: 0.3s; -moz-animation-delay: 0.3s; animation-delay: 0.3s;"><img src="/img/marcas/apple.png" alt="Apple"></img></div></td>
                    <td><div class="wow_imgage end wow fadeInRight" data-wow-delay="0.3s" style="visibility: visible; -webkit-animation-delay: 0.3s; -moz-animation-delay: 0.3s; animation-delay: 0.3s;"><img src="/img/marcas/asterisk.png" alt="Asterisk"></img></div></td>
                    <td><div class="wow_imgage end wow fadeInRight" data-wow-delay="0.3s" style="visibility: visible; -webkit-animation-delay: 0.3s; -moz-animation-delay: 0.3s; animation-delay: 0.3s;"><img src="/img/marcas/ruckus.jpeg" alt="Ruckus"></img></div></td>
                    <td><div class="wow_imgage end wow fadeInRight" data-wow-delay="0.3s" style="visibility: visible; -webkit-animation-delay: 0.3s; -moz-animation-delay: 0.3s; animation-delay: 0.3s;"><img src="/img/marcas/elastix.png" alt="Elastix"></img></div></td>
                    <td><div class="wow_imgage end wow fadeInRight" data-wow-delay="0.3s" style="visibility: visible; -webkit-animation-delay: 0.3s; -moz-animation-delay: 0.3s; animation-delay: 0.3s;"><img src="/img/marcas/kaspersky.png" alt="Kaspersky"></img></div></td>
                    <td><div class="wow_imgage end wow fadeInRight" data-wow-delay="0.3s" style="visibility: visible; -webkit-animation-delay: 0.3s; -moz-animation-delay: 0.3s; animation-delay: 0.3s;"><img src="/img/marcas/lenovo.png" alt="Lenovo"></img></div></td>
                    <td><div class="wow_imgage end wow fadeInRight" data-wow-delay="0.3s" style="visibility: visible; -webkit-animation-delay: 0.3s; -moz-animation-delay: 0.3s; animation-delay: 0.3s;"><img src="/img/marcas/qnap.png" alt="Qnap"></img></div></td>
                    <td><div class="wow_imgage end wow fadeInRight" data-wow-delay="0.3s" style="visibility: visible; -webkit-animation-delay: 0.3s; -moz-animation-delay: 0.3s; animation-delay: 0.3s;"><img src="/img/marcas/redhat.png" alt="Red Hat"></img></div></td>
                    <td><div class="wow_imgage end wow fadeInRight" data-wow-delay="0.3s" style="visibility: visible; -webkit-animation-delay: 0.3s; -moz-animation-delay: 0.3s; animation-delay: 0.3s;"><img src="/img/marcas/sonicwall.png" alt="SonicWall"></img></div></td>
                    <td><div class="wow_imgage end wow fadeInRight" data-wow-delay="0.3s" style="visibility: visible; -webkit-animation-delay: 0.3s; -moz-animation-delay: 0.3s; animation-delay: 0.3s;"><img src="/img/marcas/zextras_partner.png" alt="Zextras"></img></div></td>
                </tr>
            </div>
        </div>
    </div>
</section>
<!-- End SECTION MANUFACTURERS -->
