

<!-- SECTION FEATURES -->
<section id="services" class="">
    <div class="container">
        <div class="row">

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="feature wow fadeInDown" data-wow-delay="0.1">
                    <i class="fa fa-5x fa-globe"></i>
                    <h3>Built with Bootstrap</h3>
                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="feature wow fadeInDown" data-wow-delay="0.2s">
                    <i class="fa fa-5x fa-html5"></i>
                    <h3>HTML5 & CSS3</h3>
                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="feature wow fadeInDown" data-wow-delay="0.3s">
                    <i class="fa fa-5x fa-compress"></i>
                    <h3>Responsive Design</h3>
                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="feature wow fadeInDown" data-wow-delay="0.4s">
                    <i class="fa fa-5x fa-eye"></i>
                    <h3>Retina Ready</h3>
                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="feature wow fadeInDown" data-wow-delay="0.5s">
                    <i class="fa fa-5x fa-gear"></i>
                    <h3>Parallax Effects</h3>
                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="feature wow fadeInDown" data-wow-delay="0.6s">
                    <i class="fa fa-5x fa-asterisk"></i>
                    <h3>and much more...</h3>
                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <hr class="hr col-lg-6 col-lg-offset-3">
</div>


<!-- SECTION OVERVIEW -->
<section id="outsourcing">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="text col-lg-6 col-md-6 wow fadeInLeftBig">

                        <h3>Monitorización</h3>
                        <p>Para garantizar el correcto funcionamiento y la continuidad de los servicios de su organización, CanaryTek realiza un mantenimiento proactivo de los 
                        mismos, para lo cual utiliza un sistema de control y seguimiento de servicios propio.</p>

                        <h3>S.A.T.</h3>
                        <p>CanaryTek pone a su disposición un servicio de asistencia técnica S.A.T. cualificado y profesional que le ayudará a resolver cualquier incidencia que 
                        nos comunique.</p>
                    </div>

                    <div class="col-lg-6 col-md-6 text-center wow fadeInRightBig">
                        <img class="img-responsive" src="img/ikili.png" alt="iphone">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- FEATURES WITH PARALLAX BG -->
<div class="parallax" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row text-center">

            <div class="col-lg-12 wow fadeInDown">
                <h2>Nunc egestas consequat feugiat</h2>
            </div>

            <div class="col-lg-10 col-lg-offset-1">
                <div class="row">

                    <div class="col-lg-4 col-md-4 col-sm-4 wow fadeInLeft">
                        <i class="fa fa-5x fa-asterisk"></i>
                        <p class="lead">Etiam congue lacus eu vestibulum ultricies. Morbi id metus tempor, elementum lorem nec</p>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-4 wow fadeInUp">
                        <i class="fa fa-5x fa-bolt"></i>
                        <p class="lead">Etiam congue lacus eu vestibulum ultricies. Morbi id metus tempor, elementum lorem nec</p>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-4 wow fadeInRight">
                        <i class="fa fa-5x fa-flask"></i>
                        <p class="lead">Etiam congue lacus eu vestibulum ultricies. Morbi id metus tempor, elementum lorem nec</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- SECTION MORE INFO -->
<section id="info" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">

            <div class="col-lg-10 col-lg-offset-1">
                <div class="row">

                    <div class="col-lg-5 col-md-5 text-center wow fadeInLeft">
                        <img src="img/iphone34.png">
                    </div>

                    <div class="col-lg-7 col-md-7 wow fadeInRight">
                        <h2>Morbi eu tortor et dui aliquet egestas</h2>
                        <p class="lead">Proin faucibus, nulla quis cursus sollicitudin, leo magna feugiat ante, at cursus purus libero at augue. Donec at facilisis purus, 
                        non pellentesque dolor. Sed lacus odio, tincidunt vel.</p>

                        <ul class="list-unstyled">
                            <li><p><i class="fa fa-3x fa-arrow-circle-o-right"></i> Aenean ac pellentesque nisi.</p></li>
                            <li><p><i class="fa fa-3x fa-arrow-circle-o-right"></i> Mauris sed magna pretium, aliquet ante at, placerat magna.</p></li>
                            <li><p><i class="fa fa-3x fa-arrow-circle-o-right"></i> Vivamus id pharetra est. Curabitur felis metus.</p>
                                <li><p><i class="fa fa-3x fa-arrow-circle-o-right"></i> Cum sociis natoque penatibus et magnis.</p> 
                                <li><p><i class="fa fa-3x fa-arrow-circle-o-right"></i> Donec consectetur orci sit amet vehicula hendrerit.</p>
                                <li><p><i class="fa fa-3x fa-arrow-circle-o-right"></i> Mauris gravida nulla ut feugiat sodales.</p>
                            </ul> <a class="button button-big button-border-dark" href="index-blue.html#"><i class="fa fa-2x fa-apple"></i> Available on Appstore</a> </div> </div> </div> </div> </div> 
</section>

<!-- TESTIMONIAL -->
<div class="parallax" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center wow fadeInDown">
                <h2>Que han dicho nuestros clientes...</h2>
                <div id="testimonial" class="owl-carousel owl-theme">
                    
                    <div class="item">
                        <img class="img-circle" src="img/testimonial1.jpg" alt="">
                        <p>Es impresionante la fiabilidad de nuestro sistema desde que estamos con ellos.</p>
                        <span class="uppercase">Kylie Howard</span>
                    </div>
                    
                    <div class="item">
                        <img class="img-circle" src="img/testimonial2.jpg" alt="">
                        <p>Ahora puedo dormir tranquilo, mis datos estan seguros</p>
                        <span class="uppercase">Maurice Walters</span>
                    </div>

                    <div class="item">
                        <img class="img-circle" src="img/testimonial3.jpg" alt="">
                        <p>Es una pena que Richard ya no este, me lo queria tirar.</p>
                        <span class="uppercase">Julie Miller</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- SECTION SCREENSHOT -->
<section id="screenshot" class="wow fadeInDown" data-wow-delay="0.1s">
    <div class="container">
        <div class="row">
            <h2 class="col-lg-12 text-center">Screenshots</h2>
            <div id="screenshot-carousel" class="col-lg-12">
                
                <div class="item">
                    <a class="image-link" href="img/screenshot_big.png">
                        <img class="img-responsive img-rounded" src="img/screenshot_sm_1.jpg" alt="">
                    </a>
                </div>
                
                <div class="item">
                    <a class="image-link" href="img/screenshot_big.png">
                        <img class="img-responsive img-rounded" src="img/screenshot_sm_2.jpg" alt="">
                    </a>
                </div>

                <div class="item">
                    <a class="image-link" href="img/screenshot_big.png">
                        <img class="img-responsive img-rounded" src="img/screenshot_sm_3.jpg" alt="">
                    </a>
                </div>

                <div class="item">
                    <a class="image-link" href="img/screenshot_big.png">
                        <img class="img-responsive img-rounded" src="img/screenshot_sm_4.jpg" alt="">
                    </a>
                </div>

                <div class="item">
                    <a class="image-link" href="img/screenshot_big.png">
                        <img class="img-responsive img-rounded" src="img/screenshot_sm_1.jpg" alt="">
                    </a>
                </div>

                <div class="item">
                    <a class="image-link" href="img/screenshot_big.png">
                        <img class="img-responsive img-rounded" src="img/screenshot_sm_2.jpg" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- TEAM -->
<section id="team">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="text-center wow fadeInDown">Conoce a nuestro equipo</h2>
                <div class="row">

                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="team wow fadeInLeft">
                            <img class="img-circle" src="img/team1.jpg" alt="">
                            <h3>Miguel Angel Armas "Chafalmejilla"</h3>
                            <p>CEO / Marinero agua dulce</p>
                            <p class="small">Un crack, esnifa coca para mantenerse alerta en cualquier incidencia. No sabe lo que es descansar ni el escaqueo. 
                            Si le pone un barco cerca, amarrelo a la silla, es su debilidad y lo perderiamos durante unas horas.</p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="team wow fadeInUp">
                            <img class="img-circle" src="img/team2.jpg" alt="">
                            <h3>Alberto Bailón</h3>
                            <p>Técnico de Sistemas</p>
                            <p class="small">Un vividor, no sabe lo que es abandonar seres necesitados. Si es de fuera hayá que irá, si le prepara una caminata
                            lo tendrá comiendo de la mano y no se irá sin solucionar cualquier problema en su sistema.
                            </p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-12 wow fadeInRight">
                        <div class="twitter">
                            <i class="fa fa-4x fa-twitter"></i>
                            <div id="tweets"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- CLIENTS -->
<div id="clients">
    <div class="container">
        <div class="row">
            
            <div class="col-lg-5 col-md-5 col-sm-12 wow fadeInLeft" data-wow-delay="0.2s">
                <h3>Duis et nisl pharetra augue feugiat<br>malesuada eget vel erat.</h3>
                <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae, Ut feugiat est non leo mollis, a egestas eros tincidunt.</p>
            </div>
            
            <div class="col-lg-7 col-md-7 col-sm-12 text-center wow fadeInRight" data-wow-delay="0.2s">
                <div class="row">
                    
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <img class="img-responsive" src="img/client1.png" alt="">
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <img class="img-responsive" src="img/client3.png" alt="">
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <img class="img-responsive" src="img/client5.png" alt=""> 
                    </div> 

                </div>
            </div>
        </div>
    </div>
</div> 